[submodule "source/field/ocean_color/lib_beam_flh/src"]
	path = source/field/ocean_color/lib_beam_flh/src
	url = git@github.com:Terradue/dcs-beam-flh-java.git
[submodule "source/field/dem/lib_dem_insar1"]
	path = source/field/dem/lib_dem_insar1
	url = git@github.com:Terradue/srtm-dem.git
[submodule "source/field/vegetation/lib_python_ndvi"]
	path = source/field/vegetation/lib_python_ndvi
	url = git@github.com:Terradue/dcs-python-ndvi.git
[submodule "source/field/ocean_color/lib_beam"]
	path = source/field/ocean_color/lib_beam
	url = git@github.com:Terradue/dcs-beam-algalbloom.git
[submodule "source/field/insar/tp_roi_pac"]
	path = source/field/insar/tp_roi_pac
	url = git@github.com:Terradue/InSAR-ROI_PAC.git
